<!DOCTYPE html>
<html lang="en" ng-app>
<head>
    <meta charset="UTF-8">
    <title>angular2</title>
</head>
<body>
<div ng-controller="CommonCtrl">
    <div ng-controller="MyCtrl1">  <!-- 控制器 -->
        <p>hello,{{name}}</p> <!-- 视图 -->
        <p>{{name}}的年龄：{{age}}</p>
        <p>擅长：{{good}}{{'5'+5}}</p>
        <button ng-click="work()">工作</button>
        <button ng-click="CommonFn()">共同</button>
    </div>
    <p>hello,{{name}}</p>
    <button ng-click="CommonFn()">共同</button>
    <div ng-controller="MyCtrl2">
        <p>{{name}}的年龄：{{age}}</p>
        <p>擅长：{{good}}</p>
    </div>
    <div ng-controller="MyCtrl3">
        <p>大家好，我是{{fullname()}}</p>
    </div>
</div>
<script src="angular-1.3.0.js"></script>
<script>

    function MyCtrl1($scope,$rootScope) {
        $scope.name="霍建华1"; /* 模型 */
        $scope.age="37"; /* 局部作用域 */
        $scope.work=function () {
            alert("演员");
        };
        $rootScope.name="胡歌"; /* 全局作用域 */
    }

    function MyCtrl2($scope, $rootScope) {
        $scope.name="靳东";
        $scope.age="40";
        $rootScope.good="演戏";
        $rootScope.name="胡歌2";
    }
    
    function MyCtrl3($scope) {
        $scope.firstname="霍";
        $scope.lastname="建华";
        $scope.fullname=function () {
            return $scope.firstname+$scope.lastname;
        }
    }
    function CommonCtrl($scope) {
        $scope.CommonFn=function () {
            alert("共同的方法");
        }
    }
</script>
</body>
</html>